In [74]:
# Carregando os pacotes
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)

In [75]:
# dicionário dos dados
df = pd.read_excel('/content/dicionario_PNS_microdados_2019.xls', skiprows=1)

In [76]:
df.head()

,Posição inicial,Tamanho,Código\nda\nvariável,Quesito,Unnamed: 4,Categorias,Unnamed: 6
0,NaN,NaN,NaN,nº,descrição,Tipo,Descrição
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Parte 1 - Identificação e Controle,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2.0,V0001,NaN,Unidade da Federação,11,Rondônia
4,NaN,NaN,NaN,NaN,NaN,12,Acre

In [77]:
# Pegando as colunas de interesse
colunas = ['Código\nda\nvariável','Unnamed: 4','Categorias','Unnamed: 6']

df = df[colunas]

# Remova as linhas com NA na coluna "tipo"
df = df.dropna(subset=['Categorias'])

# Removendo a primeira linha
df = df.drop(df.index[0])

# Renomeando as colunas
df = df.rename(columns={
    'Código\nda\nvariável': 'Codigo da variavel',
    'Unnamed: 4': 'Descricao_variavel',
    'Categorias': 'Tipo',
    'Unnamed: 6': 'Descricao_tipo'
})

df['Codigo da variavel'] = df['Codigo da variavel'].fillna(method='ffill')
df['Descricao_variavel'] = df['Descricao_variavel'].fillna(method='ffill')

In [78]:
df.head(5)

  Codigo da variavel    Descricao_variavel Tipo Descricao_tipo
3              V0001  Unidade da Federação   11       Rondônia
4              V0001  Unidade da Federação   12           Acre
5              V0001  Unidade da Federação   13       Amazonas
6              V0001  Unidade da Federação   14        Roraima
7              V0001  Unidade da Federação   15           Pará